.a{
	background-color: white;
	height: 400px;
	width: 900px;
	
}
.b{
	background-color: white;
	height: 200px;
	width: 200px;
	border: 2px solid orange;
	margin-right: 140px;
	float:left;
	
}
.c{
	background-color: white;
	height: 200px;
	width: 200px;
	border: 2px solid orange;
    margin-right:10px ;
    float: left;
} 

.d{
	background-color: white;
	height: 200px;
	width: 200px;
	border: 2px solid orange;
	float:right;
	margin-right:10px ;
	 

}