div{
	border: 5px ridge goldenrod;
	background-color: purple;
	text-align: center;
	-webkit-mask:radial-gradient(30px,#0000 98%,#000)10000% 10000%/99.5% 99.5%
	height:100px;
	width: 500px
}
p{
	color: aliceblue;
}